<p id="notice"><%= notice %></p>
<div class="page-header">
<h1>Music List!!!</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th>Length</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><strong><%= music.name %></strong></td>
        <td><%= music.format %></td>
        <td><%= music.length %></td>
        <td><%= music.size %></td>
        <div class="meta">
        <td><%= link_to 'Show', music %>|</td>
      
      <span class="admin">
        <td><%= link_to 'Edit', edit_music_path(music) %>|</td> 
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
        <span>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music', new_music_path %>
